.menu-items {
	// .menu-items__item
	&__item {
		margin: 0px 0px rem(10) 0px;
	}
}

.menu-item {
	margin-left: var(--offset);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(30);
	background: #FAFAFA;
	padding: rem(10) rem(15);
	border: rem(1) solid var(--color-border);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: var(--color-body-background);
		}
	}
	// .menu-item__controls
	&__controls {
	}
	// .menu-item__name
	&__name {
		font-weight: 700;
	}
	// .menu-item__link
	&__link {
	}
	// .menu-item__actions
	&__actions {
	}
}

.menu-item-controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	transform: rotate(45deg);
	// .menu-item-controls__controll
	&__controll {
		transform: rotate(-45deg);
		width: rem(15);
		height: rem(15);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
